body{
    background-color: #1a1a1a;
    margin: 0;
    
}

                /*   NAV   */
.nav{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#0f0a2c ;
    width: 80%; height: 60px;
    z-index: 1;
}
.nav .prev-next{
    display: flex;
    margin-left: 20px;
}
.nav .prev-next h3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(23, 23, 23, 0.405);
    color: white;
    width: 40px; height: 40px;
    font-size: 30px;
    border-radius: 50% ; 
    margin-left: 20px;


}.nav .button{
    display: flex;
    flex-direction: row;
    margin-right: 4px;
      
}
.nav .button button:nth-child(1){
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 80px;
    border: .5px solid rgba(255, 255, 255, 0.482);
    width: 100px; height: 30px;
    position: a;
    
}.nav .button button:nth-child(1):hover{
    transform: scale(1.05);
    border: .7px solid rgb(245, 245, 245);
}
.nav .button .login{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 80px;
    border: .5px solid rgba(255, 255, 255, 0.482);
    width: 100px; height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;


}.nav .button .login button{
    background-color: transparent;
    border: none;
    position: absolute;
    color: white;
    
}
.nav .button .login a{
    position: absolute;
    right: 75px;
    background-color: grey;
    color: white;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 2.3%; height: 35%;
    border-radius: 50%;
}.nav .button .login details{
    color: wheat;
}.nav .button .login summary{
    display: flex;

}summary::after {
    margin-left: 75px;
    display: inline-block;
    transition: 0.2s;
    content: '\203A';
  }
  
  .nav .button .login details[open] summary::after {
    transform: rotate(90deg);
  }.nav .button .login details[open]{
    transform: translateY(167px);
  }.nav .button .login details[open]{

  }
.nav .button .login details a{
    background: none;
}
nav{
    background-color: #070707;
    width: 20%; min-width: 220px;
    height: 1000px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
nav .opts{
   padding-left: 20px; 
   padding-right: 45px;
   
}nav .opts a{
    text-decoration: none;
}
nav .opts h1{
    color: rgb(239, 238, 238);
    font-family: sans-serif;
    font-size: 1.8em;
}
nav .opts p{
    color: #888;
    font-family: helvetica;
    font-weight: bold;
    font-size: .9em;
}
nav .opts p:hover{
    color: rgb(206, 206, 206);
}
nav .opts p:nth-child(4){
    margin-bottom: 35px;
}

                /*   MAIN   */
main{
    position:relative;
    flex-direction: column;
    margin-left:240px;
    width: 70%;
    overscroll-behavior-y:auto;
}
main .lista{
    margin-top: 3em;
    display: flex;   
    
}
main .lista #selecao{
    max-width: 93%;
    display: flex;
    flex-direction: column;
    scroll-snap-stop: always;
    scroll-margin: 0;
        
    scroll-behavior: smooth;
}
main .lista h2{
    color: whitesmoke;
    font-family:Verdana;
    font-size: 160%;
    text-decoration:none;

    
}main .lista h2:hover{
    text-decoration: underline;
}main .lista .divTitulo{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    width: 110%;
}main .lista .divTitulo a{
    color: rgba(245, 245, 245, 0.718);
    font-family:helvetica;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}main .lista .divTitulo a:hover{
    text-decoration: underline;
}
main section #selecao .musica{
    display:flex;
    width: 120%;
    
}
  
main section #selecao .musica img{
    height: 150px; width: 150px;
    background-color: #1a1827a5;
    border: none;
    border-radius: 5px;
    margin:0;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.418);

}
main section #selecao .musica span{
    background-color: #1e1e1e;
    border-radius: 5px;
    width: 180px;
    height: 240px;
    text-align: center;
    padding-bottom: 15px;
    padding-top:15px;
    padding: auto 0;
    margin: 15px;
    box-shadow: 1px 0 4px 1px rgb(20, 20, 20);

}main section #selecao .musica span:hover{
    background-color: #2a2a2a;
}
main section #selecao .musica span .divText{
    display: flex;
    width: 160px;
}
main section #selecao .musica span p:nth-child(1){
    color: whitesmoke;
    font-family: tahoma;
    font-weight: bold;
}main section #selecao .musica span p:nth-child(2){
    color: rgb(170, 169, 169);
    font-weight:lighter;
    
}

                /*   SELECT MUSIC   */












main section .container{
    margin-top: 5%;
    border-radius: 10px ;
    background-color: #222 ;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
main section .container span img{
    width: 300px; height: 280px;
    border-radius: 30px;
    transition: .3s;
}
main section .container span p{
    position: absolute;
    top: 40px; left: 120px;
    font-size: 30px;
    color: whitesmoke ;
    font-weight:500;
    text-shadow: 1px 1px 0 rgb(30, 71, 48);
    font-family:fantasy;
    opacity: 0;
    transition: 1s;
    background:solid black;
    
}
main section .container span:hover img{
    filter: blur(.8px) drop-shadow(0 0 5px rgba(0, 0, 0, 0.432));
}
main section .container span:hover p{
    opacity: .8;
}
main section .container span:hover .play{
    transform: scale(1.1);
    box-shadow: 0 1px 20px black;
    background-color: rgba(223, 223, 223, 0.718)

}main section .container span:hover .barprogress{
    transform: scale(1.1);
    box-shadow: 0 1px 20px black;
    opacity: .9;

}
main section .container span .play{
    top: 275px; left: 250px;
    position: absolute;
    background-color: none;
    border-radius: 50%;
    width: 40px; height: 40px;
    transition: .4s;
    display:flex ;
    align-items: center;
    justify-content: center;
}main section .container span .play::after{
    content: "| |";
}main section .container span .barprogress{
    position: absolute;
    left: 60px ; top: 290px;
    width: 170px;
    height: 14px;
    background-color: rgb(60, 58, 58);
    opacity: .2;
    border-radius: 90px;
    transition: .5s;
}
main section .container span .barprogress .barfill{
    background-color: rgba(67, 85, 72, 0.762);
    width: 40%;
    height: 100%;
    border-radius: 90px;
}




















                /*   FOOTER   */
footer{
    flex-wrap: wrap;
    margin-top: 5%;
    font-family: helvetica;
    position: relative;
}
footer .footer{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    margin-left: 220px;
    max-width: 100%;
    flex-wrap: wrap;
}
footer h4{
    color: rgba(255, 255, 255, 0.894);
}
footer p {
    color: rgb(141, 141, 141);
    transition: .05s;
    
}footer p:hover{
    color:rgb(227, 227, 227);
    text-decoration: underline;

}footer .down{
    margin-bottom: 3%;
}
footer .down p{
    font-size: .8em;
    font-weight: bold;
}footer .down p:hover{
    text-decoration: none;
}
footer p #miname{
    margin-left:20%;
}

::-webkit-scrollbar{
    width: 20px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(117, 117, 117, 0.476);
  }::-webkit-scrollbar-thumb:hover {
    background: rgba(191, 191, 191, 0.476);
    box-shadow: inset 0 0 5px 1px rgba(77, 77, 77, 0.468);
  }