body{
    background-color: #1a1a1a;
}

                /*   NAV   */
.nav{
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color:#0e0e0ee9 ;
    width: 100%;
}
.nav .prev-next{
    display: flex;
    background-color:white ;
    border-radius: 50% ;
    
}.nav .button{
    background-color: #2a2a2a;
}
nav{
    background-color: #070707;
    width: 20%;
    height: 1000px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
nav .opts{
   padding-left: 20px; 
   padding-right: 45px;
}
nav .opts h1{
    color: rgb(239, 238, 238);
    font-family: sans-serif;
    font-size: 1.8em;
}
nav .opts p{
    color: #888;
    font-family: helvetica;
    font-weight: bold;
    font-size: .9em;
}
nav .opts p:hover{
    color: rgb(206, 206, 206);
}
nav .opts p:nth-child(4){
    margin-bottom: 35px;
}

                /*   MAIN   */
main{
margin-left: 25%;
display: flex;
flex-direction: column;
}
main .lista{
    margin-top: 10%;
}
main .lista h2{
    color: whitesmoke;
    font-family:Verdana;
}main .lista h2:hover{
    text-decoration: underline;
}
main section .selecao #musica{
    display:flex;
    overflow: auto;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }::-webkit-scrollbar-track {
    background: #999;
    box-shadow: inset 0 0 15px black;
    border-radius: 10px;
  }::-webkit-scrollbar-thumb {
    background: #555;
  }::-webkit-scrollbar-thumb:hover {
    background: #555;
    box-shadow: inset 0 0 1px black;
  }
  
main section .selecao #musica img{
    height: 170px; width: 170px;
    border-radius: 5px;
}
main section .selecao #musica span{
    background-color: #2b2b2b;
    border-radius: 5px ;
    width: 190px;padding-left: 2.2%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top:15px;
    margin:10px;
}main section .selecao #musica span:hover{
    background-color: #3b3b3b;
}
main section .selecao #musica span p:nth-child(1){
    color: whitesmoke;
    font-family: tahoma;
    font-weight: bold;
}main section .selecao #musica span p:nth-child(2){
    color: rgb(170, 169, 169);
    font-weight:lighter;
    
}

                /*   FOOTER   */
footer{
    flex-wrap: wrap;
    margin-top: 5%;
    font-family: helvetica;
    margin-left: 10%;
    
}
footer .footer{
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
}
footer h4{
    color: rgba(255, 255, 255, 0.894);
}
footer p {
    color: rgb(141, 141, 141);
    transition: .05s;
    
}footer p:hover{
    color:rgb(227, 227, 227);
    text-decoration: underline;

}footer .down{
    margin-bottom: 3%;
}
footer .down p{
    font-size: .8em;
    font-weight: bold;
}footer .down p:hover{
    text-decoration: none;
}
footer p #miname{
    margin-left:20%;
}